<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Create</h1>
  {% comment %} 
    enctype 속성을 form에다가 변경을 해줘야 한다!!!!
    why?? : 문자열로 되어 있는 데이터로만 전달이 되는 타입으로 전달이 수행되기 떄문
    파일에 대한 전송 부분은 수행이 되지 않음, 파일명만 날라가는 형태

    바이너리 데이터도 전송이 될 수 있도록 변경! (파일)
    'multipart/form-data'

  {% endcomment %}
  <form action="{% url "articles:create" %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
  </form>
</body>
</html>
